DATABASE_URL="postgresql://postgres:postgres@localhost:5432/garba?schema=public"

PORT=4000

JWT_SECRET="garba-jwt-secret-fkdfjsd90fdfdklsfjsdfjf"


STORAGE_PROVIDER=CLOUDINARY

# cloudinary credential
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
CLOUD_FOLDER=

MODE=DEVELOPMENT
